<%- include ('../Partials/HeaderRoot')  %>
<div class="home-btn d-none d-sm-block">
    <a href="/" class="text-dark"><i class="fas fa-home h2"></i></a>
</div>
<div class="account-pages my-5 pt-sm-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card overflow-hidden">
                    <div class="bg-soft-primary">
                        <div class="row">
                            <div class="col-7">
                                <div class="text-primary p-4">
                                    <h5 class="text-primary">Welcome Back !</h5>
                                    <p>Sign in to continue to Woz Technologies.</p>
                                </div>
                            </div>
                            <div class="col-5 align-self-end">
                                <img src="public/assets/images/profile-img.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <div>
                            <a href="/">
                                <div class="avatar-md profile-user-wid mb-4">
                                    <span class="avatar-title rounded-circle bg-light">
                                        <img src="public/assets/images/logo.svg" alt="" class="rounded-circle"
                                            height="34">
                                    </span>
                                </div>
                            </a>
                        </div>
                        <div class="p-2">
                            <form class="form-horizontal login">

                                <% if(error.length > 0) { %>
                                <div class="alert alert-danger flash"><%= error %></div>
                                <% } %>
                                <% if(message.length > 0) { %>
                                <div class="alert alert-success flash"><%= message %></div>
                                <% } %>

                                <div class="form-group">
                                    <label for="email-input">Email</label>
                                    <input type="email" class="form-control" id="email-input" placeholder="Email" required>
                                </div>

                                <div class="form-group">
                                    <label for="password-input">Password</label>
                                    <input type="password" class="form-control" id="password-input" placeholder="Password" required>
                                </div>

                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customControlInline">
                                    <label class="custom-control-label" for="customControlInline">Remember me</label>
                                </div>

                                <div class="mt-3">
                                    <button class="btn btn-primary btn-block waves-effect waves-light" type="submit">Log
                                        In</button>
                                </div>

                                <div class="mt-4 text-center">
                                    <a href="/forgot-password" class="text-muted"><i class="mdi mdi-lock mr-1"></i>
                                        Forgot your password?</a>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
                <div class="mt-5 text-center">
                    <p>Don't have an account ? <a href="register" class="font-weight-medium text-primary"> Signup now
                        </a> </p>
                    <p>© <%= new Date().getFullYear(); %> Skote. Crafted with <i class="mdi mdi-heart text-danger"></i>
                        by Themesbrand</p>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include ('../Partials/FooterRoot')  %>
<script type="text/javascript" src="public/assets/js/login.js"></script>