<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <div id="sidebar-menu">
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Menu</li>

                <li>
                    <a href="javascript: void(0);" class="waves-effect">
                        <i class="bx bx-home-circle"></i><span class="badge badge-pill badge-info float-right">03</span>
                        <span> <%=translation.Dashboards%> </span>
                    </a>

                </li>

                <li class="menu-title"><%=translation.Apps%></li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-layout"></i>
                        <span><%=translation.Weightlifting%></span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/reps"><%=translation.Reps%></a></li>
                        <li><a href="/movements"><%=translation.Movements%></a></li>
                        <li><a href="/strength"><%=translation.Strength%></a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-layout"></i>
                        <span><%=translation.eqlmain%></span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/eql"><%=translation.eql%></a></li>
                        <li><a href="/eqlcategories"><%=translation.eqlcategories%></a></li>
                    </ul>
                </li>                
            </ul>
        </div>
    </div>
</div>