<header id="page-topbar">
    <div class="navbar-header">
        <div class="d-flex">
            <div class="navbar-brand-box" style="padding-top: 25px;">
                <a href="/" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="public/assets/images/logo.svg" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="public/assets/images/logo-dark.png" alt="" height="17">
                    </span>
                </a>

                <a href="/" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="public/assets/images/logo-light.svg" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="public/assets/images/logo-light.png" alt="" height="19">
                    </span>
                </a>
            </div>

            <button type="button" class="btn btn-sm px-3 font-size-16 d-lg-none header-item waves-effect waves-light"
                data-toggle="collapse" data-target="#topnav-menu-content">
                <i class="fa fa-fw fa-bars"></i>
            </button>

            <form class="app-search d-none d-lg-block">
                <div class="position-relative">
                    <input type="text" class="form-control" placeholder="<%=translation.Search%>...">
                    <span class="bx bx-search-alt"></span>
                </div>
            </form>
            <div class="dropdown dropdown-mega d-none d-lg-block ml-2">
                <button type="button" class="btn header-item waves-effect" data-toggle="dropdown" aria-haspopup="false"
                    aria-expanded="false">
                    <%=translation.Mega_Menu%>
                    <i class="mdi mdi-chevron-down"></i>
                </button>
                <div class="dropdown-menu dropdown-megamenu">
                    <div class="row">
                        <div class="col-sm-8">

                            <div class="row">
                                <div class="col-md-4">
                                    <h5 class="font-size-14 mt-0"> <%=translation.UI_Components%></h5>
                                    <ul class="list-unstyled megamenu-list">
                                        <li>
                                            <a href="javascript:void(0);"><%=translation.Lightbox%></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);"><%=translation.Range_Slider%></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);"><%=translation.Sweet_Alert%></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);"><%=translation.Rating%></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);"><%=translation.Forms%></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);"><%=translation.Tables%></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);"><%=translation.Charts%></a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-md-4">
                                    <h5 class="font-size-14 mt-0">Applications</h5>
                                    <ul class="list-unstyled megamenu-list">
                                        <li>
                                            <a href="javascript:void(0);"><%=translation.Ecommerce%></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);"><%=translation.Calendar%></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);"><%=translation.Email%></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);"><%=translation.Projects%></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);"><%=translation.Tasks%></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);"><%=translation.Contacts%></a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-md-4">
                                    <h5 class="font-size-14 mt-0">Extra Pages</h5>
                                    <ul class="list-unstyled megamenu-list">
                                        <li>
                                            <a href="javascript:void(0);"><%=translation.Light_Sidebar%></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);"><%=translation.Compact_Sidebar%></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);"><%=translation.Horizontal_layout%></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);"><%=translation.Maintenance%></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);"><%=translation.Coming_Soon%></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);"><%=translation.Timeline%></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);"><%=translation.FAQs%></a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h5 class="font-size-14 mt-0"><%=translation.UI_Components%></h5>
                                    <ul class="list-unstyled megamenu-list">
                                        <li>
                                            <a href="javascript:void(0);"><%=translation.Lightbox%></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);"><%=translation.Range_Slider%></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);"><%=translation.Sweet_Alert%></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);"><%=translation.Rating%></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);"><%=translation.Forms%></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);"><%=translation.Tables%></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);"><%=translation.Charts%></a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-sm-5">
                                    <div>
                                        <img src="public/assets/images/megamenu-img.png" alt=""
                                            class="img-fluid mx-auto d-block">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="d-flex">

            <div class="dropdown d-inline-block d-lg-none ml-2">
                <button type="button" class="btn header-item noti-icon waves-effect" id="page-header-search-dropdown"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="mdi mdi-magnify"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right p-0"
                    aria-labelledby="page-header-search-dropdown">

                    <form class="p-3">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="<%=translation.Search%> ..."
                                    aria-label="Recipient's username">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit"><i
                                            class="mdi mdi-magnify"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="dropdown d-inline-block">
                <button type="button" class="btn header-item waves-effect" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <img class="" src="public/assets/images/flags/us.jpg" alt="Header Language" height="16">
                    <span class="align-middle">English</span>
                </button>
                <div class="dropdown-menu dropdown-menu-right">

                    <a href="?clang=en" class="dropdown-item notify-item">
                        <img src="public/assets/images/flags/us.jpg" alt="user-image" class="mr-1" height="12"> <span
                            class="align-middle">English</span>
                    </a>

                    <a href="?clang=sp" class="dropdown-item notify-item">
                        <img src="public/assets/images/flags/spain.jpg" alt="user-image" class="mr-1" height="12"> <span
                            class="align-middle">Spanish</span>
                    </a>

                    <a href="?clang=gr" class="dropdown-item notify-item">
                        <img src="public/assets/images/flags/germany.jpg" alt="user-image" class="mr-1" height="12">
                        <span class="align-middle">German</span>
                    </a>

                    <a href="?clang=it" class="dropdown-item notify-item">
                        <img src="public/assets/images/flags/italy.jpg" alt="user-image" class="mr-1" height="12"> <span
                            class="align-middle">Italian</span>
                    </a>

                    <a href="?clang=rs" class="dropdown-item notify-item">
                        <img src="public/assets/images/flags/russia.jpg" alt="user-image" class="mr-1" height="12">
                        <span class="align-middle">Russian</span>
                    </a>
                </div>
            </div>

            <div class="dropdown d-none d-lg-inline-block ml-1">
                <button type="button" class="btn header-item noti-icon waves-effect" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="bx bx-customize"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <div class="px-lg-2">
                        <div class="row no-gutters">
                            <div class="col">
                                <a class="dropdown-icon-item" href="#">
                                    <img src="public/assets/images/brands/github.png" alt="Github">
                                    <span><%=translation.GitHub%></span>
                                </a>
                            </div>
                            <div class="col">
                                <a class="dropdown-icon-item" href="#">
                                    <img src="public/assets/images/brands/bitbucket.png" alt="bitbucket">
                                    <span><%=translation.Bitbucket%></span>
                                </a>
                            </div>
                            <div class="col">
                                <a class="dropdown-icon-item" href="#">
                                    <img src="public/assets/images/brands/dribbble.png" alt="dribbble">
                                    <span><%=translation.Dribbble%></span>
                                </a>
                            </div>
                        </div>

                        <div class="row no-gutters">
                            <div class="col">
                                <a class="dropdown-icon-item" href="#">
                                    <img src="public/assets/images/brands/dropbox.png" alt="dropbox">
                                    <span><%=translation.Dropbox%></span>
                                </a>
                            </div>
                            <div class="col">
                                <a class="dropdown-icon-item" href="#">
                                    <img src="public/assets/images/brands/mail_chimp.png" alt="mail_chimp">
                                    <span><%=translation.Mail_Chimp%></span>
                                </a>
                            </div>
                            <div class="col">
                                <a class="dropdown-icon-item" href="#">
                                    <img src="public/assets/images/brands/slack.png" alt="slack">
                                    <span><%=translation.Slack%></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dropdown d-none d-lg-inline-block ml-1">
                <button type="button" class="btn header-item noti-icon waves-effect" data-toggle="fullscreen">
                    <i class="bx bx-fullscreen"></i>
                </button>
            </div>

            <div class="dropdown d-inline-block">
                <button type="button" class="btn header-item noti-icon waves-effect"
                    id="page-header-notifications-dropdown" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="bx bx-bell bx-tada"></i>
                    <span class="badge badge-danger badge-pill">3</span>
                </button>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right p-0"
                    aria-labelledby="page-header-notifications-dropdown">
                    <div class="p-3">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="m-0"> <%=translation.Notifications%> </h6>
                            </div>
                            <div class="col-auto">
                                <a href="#!" class="small"><%=translation.View_All%></a>
                            </div>
                        </div>
                    </div>
                    <div data-simplebar style="max-height: 230px;">
                        <a href="" class="text-reset notification-item">
                            <div class="media">
                                <div class="avatar-xs mr-3">
                                    <span class="avatar-title bg-primary rounded-circle font-size-16">
                                        <i class="bx bx-cart"></i>
                                    </span>
                                </div>
                                <div class="media-body">
                                    <h6 class="mt-0 mb-1"><%=translation.Your_order_is_placed%></h6>
                                    <div class="font-size-12 text-muted">
                                        <p class="mb-1"><%=translation.If_several_languages_the_grammar%></p>
                                        <p class="mb-0"><i class="mdi mdi-clock-outline"></i> <%=translation.min_ago%>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="" class="text-reset notification-item">
                            <div class="media">
                                <img src="public/assets/images/users/avatar-3.jpg" class="mr-3 rounded-circle avatar-xs"
                                    alt="user-pic">
                                <div class="media-body">
                                    <h6 class="mt-0 mb-1">James Lemire</h6>
                                    <div class="font-size-12 text-muted">
                                        <p class="mb-1"><%=translation.It_will_seem_like_simplified_English%>.</p>
                                        <p class="mb-0"><i class="mdi mdi-clock-outline"></i>
                                            <%=translation.hours_ago%></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="" class="text-reset notification-item">
                            <div class="media">
                                <div class="avatar-xs mr-3">
                                    <span class="avatar-title bg-success rounded-circle font-size-16">
                                        <i class="bx bx-badge-check"></i>
                                    </span>
                                </div>
                                <div class="media-body">
                                    <h6 class="mt-0 mb-1"><%=translation.Your_item_is_shipped%></h6>
                                    <div class="font-size-12 text-muted">
                                        <p class="mb-1"><%=translation.If_several_languages_coalesce_the_grammar%></p>
                                        <p class="mb-0"><i class="mdi mdi-clock-outline"></i>
                                            <%=translation.min_ago%></p>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <a href="" class="text-reset notification-item">
                            <div class="media">
                                <img src="public/assets/images/users/avatar-4.jpg" class="mr-3 rounded-circle avatar-xs"
                                    alt="user-pic">
                                <div class="media-body">
                                    <h6 class="mt-0 mb-1">Salena Layfield</h6>
                                    <div class="font-size-12 text-muted">
                                        <p class="mb-1">
                                            <%=translation.As_a_skeptical_Cambridge_friend_of_mine_occidental%>.</p>
                                        <p class="mb-0"><i class="mdi mdi-clock-outline"></i>
                                            <%=translation.hours_ago%></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="p-2 border-top">
                        <a class="btn btn-sm btn-link font-size-14 btn-block text-center" href="javascript:void(0)">
                            <i class="mdi mdi-arrow-right-circle mr-1"></i>
                            <%=translation.View_More%>..
                        </a>
                    </div>
                </div>
            </div>

            <div class="dropdown d-inline-block">
                <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="rounded-circle header-profile-user" src="public/assets/images/users/avatar-1.jpg"
                        alt="Header Avatar">
                    <span class="d-none d-xl-inline-block ml-1">Henry</span>
                    <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <!-- item-->
                    <a class="dropdown-item" href="#"><i class="bx bx-user font-size-16 align-middle mr-1"></i>
                        Profile</a>
                    <a class="dropdown-item" href="#"><i class="bx bx-wallet font-size-16 align-middle mr-1"></i> My
                        Wallet</a>
                    <a class="dropdown-item d-block" href="#"><span class="badge badge-success float-right">11</span><i
                            class="bx bx-wrench font-size-16 align-middle mr-1"></i> Settings</a>
                    <a class="dropdown-item" href="#"><i class="bx bx-lock-open font-size-16 align-middle mr-1"></i>
                        Lock screen</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger" href="#"><i
                            class="bx bx-power-off font-size-16 align-middle mr-1 text-danger"></i> Logout</a>
                </div>
            </div>

            <div class="dropdown d-inline-block">
                <button type="button" class="btn header-item noti-icon right-bar-toggle waves-effect">
                    <i class="bx bx-cog bx-spin"></i>
                </button>
            </div>

        </div>
    </div>
</header>

<div class="topnav">
    <div class="container-fluid">
        <nav class="navbar navbar-light navbar-expand-lg topnav-menu">

            <div class="collapse navbar-collapse" id="topnav-menu-content">
                <ul class="navbar-nav">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-dashboard" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="bx bx-home-circle mr-2"></i>Dashboards <div class="arrow-down"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-dashboard">
                            <a href="/" class="dropdown-item"><%=translation.Default%></a>
                            <a href="/dashboard-saas" class="dropdown-item"><%=translation.Saas%></a>
                            <a href="/dashboard-crypto" class="dropdown-item"><%=translation.Crypto%></a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-uielement" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="bx bx-tone mr-2"></i><%=translation.UI_Elements%> <div class="arrow-down"></div>
                        </a>

                        <div class="dropdown-menu mega-dropdown-menu px-2 dropdown-mega-menu-xl"
                            aria-labelledby="topnav-uielement">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div>
                                        <a href="ui-alerts" class="dropdown-item"><%=translation.Alerts%></a>
                                        <a href="ui-buttons" class="dropdown-item"><%=translation.Buttons%></a>
                                        <a href="ui-cards" class="dropdown-item"><%=translation.Cards%></a>
                                        <a href="ui-carousel" class="dropdown-item"><%=translation.Carousel%></a>
                                        <a href="ui-dropdowns" class="dropdown-item"><%=translation.Dropdowns%></a>
                                        <a href="ui-grid" class="dropdown-item"><%=translation.Grid%></a>
                                        <a href="ui-images" class="dropdown-item"><%=translation.Images%></a>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div>
                                        <a href="ui-lightbox" class="dropdown-item"><%=translation.Lightbox%></a>
                                        <a href="ui-modals" class="dropdown-item"><%=translation.Modals%></a>
                                        <a href="ui-rangeslider" class="dropdown-item"><%=translation.Range_Slider%></a>
                                        <a href="ui-session-timeout"
                                            class="dropdown-item"><%=translation.Session_Timeout%></a>
                                        <a href="ui-progressbars"
                                            class="dropdown-item"><%=translation.Progress_Bars%></a>
                                        <a href="ui-sweet-alert" class="dropdown-item"><%=translation.Sweet_Alert%></a>
                                        <a href="ui-tabs-accordions"
                                            class="dropdown-item"><%=translation.Tabs_Accordions%></a>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div>
                                        <a href="ui-typography" class="dropdown-item"><%=translation.Typography%></a>
                                        <a href="ui-video" class="dropdown-item"><%=translation.Video%></a>
                                        <a href="ui-general" class="dropdown-item"><%=translation.General%></a>
                                        <a href="ui-colors" class="dropdown-item"><%=translation.Colors%></a>
                                        <a href="ui-rating" class="dropdown-item"><%=translation.Rating%></a>
                                        <a href="ui-notifications"
                                            class="dropdown-item"><%=translation.Notifications%></a>
                                        <a href="ui-image-cropper"
                                            class="dropdown-item"><%=translation.Image_Cropper%></a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-pages" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="bx bx-customize mr-2"></i><%=translation.Apps%> <div class="arrow-down"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-pages">

                            <a href="calendar" class="dropdown-item"><%=translation.Calendar%></a>
                            <a href="chat" class="dropdown-item"><%=translation.Chat%></a>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-email"
                                    role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <%=translation.Email%> <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-email">
                                    <a href="email-inbox" class="dropdown-item"><%=translation.Inbox%></a>
                                    <a href="email-read" class="dropdown-item"><%=translation.Read_Email%></a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-ecommerce"
                                    role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <%=translation.Ecommerce%> <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-ecommerce">
                                    <a href="ecommerce-products" class="dropdown-item"><%=translation.Products%></a>
                                    <a href="ecommerce-product-detail"
                                        class="dropdown-item"><%=translation.Product_Detail%></a>
                                    <a href="ecommerce-orders" class="dropdown-item"><%=translation.Orders%></a>
                                    <a href="ecommerce-customers" class="dropdown-item"><%=translation.Customers%></a>
                                    <a href="ecommerce-cart" class="dropdown-item"><%=translation.Cart%></a>
                                    <a href="ecommerce-checkout" class="dropdown-item"><%=translation.Checkout%></a>
                                    <a href="ecommerce-shops" class="dropdown-item"><%=translation.Shops%></a>
                                    <a href="ecommerce-add-product"
                                        class="dropdown-item"><%=translation.Add_Product%></a>
                                </div>
                            </div>

                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-crypto"
                                    role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <%=translation.Crypto%> <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-crypto">
                                    <a href="crypto-wallet" class="dropdown-item"><%=translation.Wallet%></a>
                                    <a href="crypto-buy-sell" class="dropdown-item"><%=translation.Buy_Sell%></a>
                                    <a href="crypto-exchange" class="dropdown-item"><%=translation.Exchange%></a>
                                    <a href="crypto-lending" class="dropdown-item"><%=translation.Lending%></a>
                                    <a href="crypto-orders" class="dropdown-item"><%=translation.Orders%></a>
                                    <a href="crypto-kyc-application"
                                        class="dropdown-item"><%=translation.KYC_Application%></a>
                                    <a href="crypto-ico-landing" class="dropdown-item"><%=translation.ICO_Landing%></a>
                                </div>
                            </div>

                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-project"
                                    role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <%=translation.Projects%> <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-project">
                                    <a href="projects-grid" class="dropdown-item"><%=translation.Projects_Grid%></a>
                                    <a href="projects-list" class="dropdown-item"><%=translation.Projects_List%></a>
                                    <a href="projects-overview"
                                        class="dropdown-item"><%=translation.Project_Overview%></a>
                                    <a href="projects-create" class="dropdown-item"><%=translation.Create_New%></a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-task"
                                    role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <%=translation.Tasks%> <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-task">
                                    <a href="tasks-list" class="dropdown-item"><%=translation.Task_List%></a>
                                    <a href="tasks-kanban" class="dropdown-item"><%=translation.Kanban_Board%></a>
                                    <a href="tasks-create" class="dropdown-item"><%=translation.Create_Task%></a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-contact"
                                    role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <%=translation.Contacts%> <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-contact">
                                    <a href="contacts-grid" class="dropdown-item"><%=translation.User_Grid%></a>
                                    <a href="contacts-list" class="dropdown-item"><%=translation.User_List%></a>
                                    <a href="contacts-profile" class="dropdown-item"><%=translation.Profile%></a>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-components" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="bx bx-collection mr-2"></i><%=translation.Components%> <div class="arrow-down">
                            </div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-components">
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-form"
                                    role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Forms <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-form">
                                    <a href="form-elements" class="dropdown-item"><%=translation.Form_Elements%></a>
                                    <a href="form-validation" class="dropdown-item"><%=translation.Form_Validation%></a>
                                    <a href="form-advanced" class="dropdown-item"><%=translation.Form_Advanced%></a>
                                    <a href="form-editors" class="dropdown-item"><%=translation.Form_Editors%></a>
                                    <a href="form-uploads" class="dropdown-item"><%=translation.Form_File_Upload%></a>
                                    <a href="form-xeditable" class="dropdown-item"><%=translation.Form_Xeditable%></a>
                                    <a href="form-repeater" class="dropdown-item"><%=translation.Form_Repeater%></a>
                                    <a href="form-wizard" class="dropdown-item"><%=translation.Form_Wizard%></a>
                                    <a href="form-mask" class="dropdown-item"><%=translation.Form_Mask%></a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-table"
                                    role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <%=translation.Tables%> <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-table">
                                    <a href="tables-basic" class="dropdown-item"><%=translation.Basic_Tables%></a>
                                    <a href="tables-datatable" class="dropdown-item"><%=translation.Data_Tables%></a>
                                    <a href="tables-responsive"
                                        class="dropdown-item"><%=translation.Responsive_Table%></a>
                                    <a href="tables-editable" class="dropdown-item"><%=translation.Editable_Table%></a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-charts"
                                    role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <%=translation.Charts%> <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-charts">
                                    <a href="charts-apex" class="dropdown-item"><%=translation.Apex_charts%></a>
                                    <a href="charts-echart" class="dropdown-item"><%=translation.E_charts%></a>
                                    <a href="charts-chartjs" class="dropdown-item"><%=translation.Chartjs_Chart%></a>
                                    <a href="charts-flot" class="dropdown-item"><%=translation.Flot_Chart%></a>
                                    <a href="charts-tui" class="dropdown-item"><%=translation.Toast_UI_Chart%></a>
                                    <a href="charts-knob" class="dropdown-item"><%=translation.Jquery_Knob_Chart%></a>
                                    <a href="charts-sparkline"
                                        class="dropdown-item"><%=translation.Sparkline_Chart%></a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-icons"
                                    role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <%=translation.Icons%> <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-icons">
                                    <a href="icons-boxicons" class="dropdown-item"><%=translation.Boxicons%></a>
                                    <a href="icons-materialdesign"
                                        class="dropdown-item"><%=translation.Material_Design%></a>
                                    <a href="icons-dripicons" class="dropdown-item"><%=translation.Dripicons%></a>
                                    <a href="icons-fontawesome" class="dropdown-item"><%=translation.Font_awesome%></a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-map"
                                    role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <%=translation.Maps%> <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-map">
                                    <a href="maps-google" class="dropdown-item"><%=translation.Google_Maps%></a>
                                    <a href="maps-vector" class="dropdown-item"><%=translation.Vector_Maps%></a>
                                    <a href="maps-leaflet" class="dropdown-item"><%=translation.Leaflet_Maps%></a>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-more" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="bx bx-file mr-2"></i><%=translation.Extra_Pages%> <div class="arrow-down"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-more">
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-invoice"
                                    role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <%=translation.Invoices%> <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-invoice">
                                    <a href="invoices-list" class="dropdown-item"><%=translation.Invoice_List%></a>
                                    <a href="invoices-detail" class="dropdown-item"><%=translation.Invoice_Detail%></a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-auth"
                                    role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <%=translation.Authentication%> <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-auth">
                                    <a href="auth-login" class="dropdown-item"><%=translation.Login%></a>
                                    <a href="auth-register" class="dropdown-item"><%=translation.Register%></a>
                                    <a href="auth-recoverpw" class="dropdown-item"><%=translation.Recover_Password%></a>
                                    <a href="auth-lock-screen" class="dropdown-item"><%=translation.Lock_screen%></a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-utility"
                                    role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <%=translation.Utility%> <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-utility">
                                    <a href="pages-starter" class="dropdown-item"><%=translation.Starter_Page%></a>
                                    <a href="pages-maintenance" class="dropdown-item"><%=translation.Maintenance%></a>
                                    <a href="pages-comingsoon" class="dropdown-item"><%=translation.Coming_Soon%></a>
                                    <a href="pages-timeline" class="dropdown-item"><%=translation.Timeline%></a>
                                    <a href="pages-faqs" class="dropdown-item"><%=translation.FAQs%></a>
                                    <a href="pages-pricing" class="dropdown-item"><%=translation.Pricing%></a>
                                    <a href="pages-404" class="dropdown-item"><%=translation.Error_404%> </a>
                                    <a href="pages-500" class="dropdown-item"><%=translation.Error_500%> </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="/logout" id="topnav-layout" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="bx bx-layout mr-2"></i><%=translation.Layouts%> <div class="arrow-down"></div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="topnav-layout">
                            <a href="layouts-horizontal" class="dropdown-item"><%=translation.Horizontal%></a>
                            <a href="/" class="dropdown-item"><%=translation.Vertical%></a>
                            <a href="layouts-h-topbar-light" class="dropdown-item"><%=translation.Topbar_Light%></a>
                            <a href="layouts-h-boxed" class="dropdown-item"><%=translation.Boxed_Width%></a>
                            <a href="layouts-h-colored" class="dropdown-item"><%=translation.Colored_Layout%></a>
                        </div>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
</div>