<%- contentFor('HeaderCss') %>

<%- contentFor('breadcrumb') %>
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">Sparkline charts</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Charts</a></li>
                    <li class="breadcrumb-item active">Sparkline charts</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<%- contentFor('body') %>
<div class="row">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Pie Chart</h4>
                <div id="sparkline1" class="text-center"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Bar Chart</h4>
                <div id="sparkline2" class="text-center"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body analytics-info">
                <h4 class="card-title">Line Chart</h4>
                <div id="sparkline4"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Composite Bar Chart</h4>
                <div id="sparkline3" class="text-center"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Line Charts</h4>
                <div id="sparkline5" class="text-center"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card bg-primary">
            <div class="card-body">
                <h4 class="card-title text-white">Discrete Chart</h4>
                <div id="sparkline6" class="text-center"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Bullet Chart</h4>
                <div id="sparkline7"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Box Plot Chart</h4>
                <div id="sparkline8" class="text-center"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Tristate Charts</h4>
                <div id="sparkline9" class="text-center"></div>
            </div>
        </div>
    </div>
</div>
<!-- end row -->

<%- contentFor('FooterJs') %>
<script src="public/assets/libs/jquery-sparkline/jquery.sparkline.min.js"></script>
<script src="public/assets/js/pages/sparklines.init.js"></script>
<%- contentFor('BottomJs') %>