<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Preloader Layout | Skote - Nodejs Admin & Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="public/assets/images/favicon.ico">

    <%- HeaderCss %>
    <%- include ('./Partials/HeaderStyle')  %>

</head>


<body data-sidebar="dark">

    <!-- Loader -->
    <div id="preloader">
        <div id="status">
            <div class="spinner-chase">
                <div class="chase-dot"></div>
                <div class="chase-dot"></div>
                <div class="chase-dot"></div>
                <div class="chase-dot"></div>
                <div class="chase-dot"></div>
                <div class="chase-dot"></div>
            </div>
        </div>
    </div>

    <!-- Begin page -->
    <div id="layout-wrapper">

        <%- include ('./Partials/Header')  %>
        <%- include ('./Partials/Sidebar')  %>

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <%- breadcrumb %>
                    <%- body %>

                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            <%- include ('./Partials/extraModal')  %>
            <%- include ('./Partials/Footer') %>

        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

    <%- include ('./Partials/Rightbar')  %>
    <%- include ('./Partials/FooterScript')  %>

    <%- FooterJs %>

    <script src="public/assets/js/app.js"></script>
    <%- BottomJs %>
</body>

</html>