<!doctype html>
<html lang="en">

<head>

  <meta charset="utf-8" />
  <title><%- title %> | Woz Technologies</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
  <meta content="Themesbrand" name="author" />
  <!-- App favicon -->
  <link rel="shortcut icon" href="public/assets/images/favicon.ico">

  <%- HeaderCss %>
  <%- include ('./Partials/HeaderStyle')  %>

</head>

<body data-sidebar="dark">

  <!-- Begin page -->
  <div id="layout-wrapper">

    <%- include ('./Partials/Header')  %>
    <%- include ('./Partials/Sidebar')  %>

    <div class="main-content">
      <div class="page-content">
        <div class="container-fluid">

          <%- breadcrumb %>
          <%- body %>
        </div>
      </div>

      <%- include ('./Partials/extraModal')  %>
      <%- include ('./Partials/Footer') %>
    </div>
  </div>

  <%- include ('./Partials/Rightbar')  %>
  <%- include ('./Partials/FooterScript')  %>

  <%- FooterJs %>

  <script src="public/assets/js/app.js"></script>

  <%- BottomJs %>
</body>

</html>