<%- contentFor('HeaderCss') %>

<%- contentFor('breadcrumb') %>

<%- contentFor('body') %>
<div class="row">
  <div class="col-lg-4">
    <form method="post" action="addMovement">
      <div class="mb-4">
        <input class="form-control form-control-lg" type="text" id="txtMovement" name="txtMovement" placeholder="Movement Name">
      </div>
      <button name="btnAddMovement" id="btnAddMovement" type="submit" class="btn btn-md btn-warning">Add Movement</button>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <strong>Movements</strong>
    <table class="table table-striped" id="tblMovements">
      <thead><tr><th>Movement Name</th></tr></thead>
      <tbody>
          <%if(locals.movements) { %>
              <%for(var key in movements) { %>
                  <tr>
                      <td>
                          <span id="spnMovementName<%=movements[key].movement_id%>"><%=movements[key].movement_name%></span><input type="text" id="txtMovement<%=movements[key].movementname%>" value="<%=movements[key].movement_name%>" style="display:none">
                      </td>                                                                                                                                   
                      <td>
                          <span class="glyphicon glyphicon-edit" data-id="<%=movements[key].movement_id%>" id="editMovement" style="cursor:pointer"></span>
                          <span class="glyphicon glyphicon-remove" data-id="<%=movements[key].movement_id%>" id="deleteMovement" style="cursor:pointer"></span>
                          <button name="submit" id="btnUpdateAsset" type="submit" data-id="<%=movements[key].movement_id%>" class="btn btn-md btn-black" style="display:none">Update</button>
                      </td>
                  </tr>
              <% } %>
          <% } %>
      </tbody>
    </table>
  </div>
</div>

<%- contentFor('FooterJs') %>
<script src="public/assets/libs/apexcharts/apexcharts.min.js"></script>
<script src="public/assets/js/pages/dashboard.init.js"></script>

<%- contentFor('BottomJs') %>