<%- contentFor('HeaderCss') %>

<%- contentFor('breadcrumb') %>

<%- contentFor('body') %>
<div class="row">
  <div class="col-lg-4">
    <form method="post" action="addReps">
      <div class="mb-4">
        <input class="form-control form-control-lg" type="text" id="txtReps" name="txtReps" placeholder="Rep Name">
      </div>
      <button name="btnAddRep" id="btnAddRep" type="submit" class="btn btn-md btn-warning">Add Rep</button>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <strong>Reps</strong>
    <table class="table table-striped" id="tblReps">
      <thead><tr><th>Rep Name</th></tr></thead>
      <tbody>
          <%if(locals.reps) { %>
              <%for(var key in reps) { %>
                  <tr>
                      <td>
                          <span id="spnRepName<%=reps[key].rep_id%>"><%=reps[key].rep_amount%></span><input type="text" id="txtRep<%=reps[key].rep_amount%>" value="<%=reps[key].rep_amount%>" style="display:none">
                      </td>                                                                                                                                   
                      <td>
                          <span class="glyphicon glyphicon-edit" data-id="<%=reps[key].rep_id%>" id="editRep" style="cursor:pointer"></span>
                          <span class="glyphicon glyphicon-remove" data-id="<%=reps[key].rep_id%>" id="deleteRep" style="cursor:pointer"></span>
                          <button name="submit" id="btnUpdateAsset" type="submit" data-id="<%=reps[key].rep_id%>" class="btn btn-md btn-black" style="display:none">Update</button>
                      </td>
                  </tr>
              <% } %>
          <% } %>
      </tbody>
    </table>
  </div>
</div>

<%- contentFor('FooterJs') %>
<script src="public/assets/libs/apexcharts/apexcharts.min.js"></script>
<script src="public/assets/js/pages/dashboard.init.js"></script>

<%- contentFor('BottomJs') %>