<%- contentFor('HeaderCss') %>

<%- contentFor('breadcrumb') %>

<%- contentFor('body') %>
  <div class="row">
    <div class="col-lg-4 offset-4">
      <form method="post" action="addStrength">
        <div class="form-group row">
          <select id="ddlMemberName" name="ddlMemberName" class="custom-select">
            <% if(locals.users) { %>
              <% users.forEach(function(user) { %>
                <option value="<%=user.id%>"><%=user.first_name%> <%=user.last_name%></option>
              <% }); %>
            <% } %>
          </select>
        </div>
        <div class="form-group row">
          <select id="ddlMovement" name="ddlMovement" class="custom-select">
            <% if(locals.movements) { %>
              <% movements.forEach(function(item) { %>
                <option value="<%=item.movement_id%>"><%=item.movement_name%></option>
              <% }); %>
            <% } %>
          </select>
        </div>
        <div class="form-group row">
          <select id="ddlReps" name="ddlReps" class="custom-select">
            <% if(locals.reps) { %>
              <% reps.forEach(function(rep) { %>
                <option value="<%=rep.rep_id%>"><%=rep.rep_amount%></option>
              <% }); %>
            <% } %>
          </select>
        </div>
        <div class="mb-4">
          <input class="form-control form-control-lg" type="number" id="txtWeight" name="txtWeight" placeholder="Weight Amount">
        </div>                
        <button name="btnAddWeight" id="btnAddWeight" type="submit" class="btn btn-md btn-warning">Add Weight</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <strong>Member Strength</strong>
      <div class='datagrid col-lg-12'>
        <table class="table table-striped"><thead><tr><th></th>
          <% if(locals.reps) { %>
            <% reps.forEach(function(rep) { %>
              <th class='strHeader'><%=rep.rep_amount%></th>
            <% }); %>
          <% } %>
        </tr></thead><tbody>
        <% let previousMovement = ""; %>
        <% let counter = 1; %>
        <% let rowSwitch = "reg"; %>
        <% strengths.forEach(function(userStrength) { %>
          <% if(previousMovement != userStrength.movement_name){ %>
            <% if(previousMovement == "") { %>
              <tr class='<%=rowSwitch%>'><td class='strName'><%=userStrength.movement_name%></td>
            <% } else { %>
              <% if(counter <= 4) { %>
                <% for(let x=counter; x==4;x++) { %>
                  <td></td>
                <% } %>
              <% } %>
              <% counter =1; %>
              <% if(rowSwitch == "reg") { %>
                <% rowSwitch = "alt"; %>
              <% } else { %>
                <% rowSwitch = "reg"; %>
              <% } %>
              </tr><tr class='<%=rowSwitch%>'><td class='strName'><%=userStrength.movement_name%></td>
            <% } %>
            <% for(let i=1;i<=4;i++) { %>
              <% if(userStrength.rep_id == i) { %>
                <% if(i != 1) { %>
                  <% if(moment().diff(moment(userStrength.date),'days') >= 30) { %>
                    <td style='background:red; border:1px solid black;position:relative;'>
                  <% } else { %>
                    <td style='position:relative;'>
                  <% } %>
                <% } else { %>
                  <% if(moment().diff(moment(userStrength.date),'days') >= 180) { %>
                    <td style='background:red; border:1px solid black;position:relative;'>
                  <% } else { %>
                    <td style='position:relative;'>
                  <% } %>                          
                <% } %>
                  <div class="percToolTip"><%=userStrength.str_amount%></div><div style='top:0; right:0; font-size:10px;position:absolute;'><%=moment().diff(moment(userStrength.date),'days')%></div></td>
                  <% counter++ %>
                  <% break; %>
              <% } else { %>
                <td style="position:relative;"></td>
                <% counter++ %>
              <% } %>
            <% } %>
          <% } else { %>
            <% for(let y=1;y<=4;y++) { %>
              <% if(userStrength.rep_id == y) { %>
                <% if(y==1) { %>
                  <td>
                <% } else { %>
                  <% if(moment().diff(moment(userStrength.date),'days') >= 30) { %>
                    <td style='background:red; border:1px solid black;position:relative;'>
                  <% } else { %>
                    <td style='position:relative;'>
                  <% } %>
                <% } %>
                <div class="percToolTip"><%=userStrength.str_amount%></div><div style='top:0; right:0; font-size:10px;position:absolute;'><%=moment().diff(moment(userStrength.date),'days')%></div></td>
                <% counter++ %>
                <% break; %>
              <% } %>              
            <% } %>
          <% } %>
          <% previousMovement = userStrength.movement_name; %>
        <% }) %>
        <% if(counter <= 4) { %>
          <% for(let z = counter;z==4;z++) { %>
            <td  style='position:relative;'></td>
          <% } %>
        <% } %>
      </td></tbody></table>
    </div>
  </div>

<%- contentFor('FooterJs') %>
<script type="text/javascript" src="public/assets/js/perCalc.js"></script>
<%- contentFor('BottomJs') %>