<%- contentFor('HeaderCss') %>

<%- contentFor('breadcrumb') %>

<%- contentFor('body') %>
<div class="row">
  <div class="col-lg-4">
    <form method="post" action="addEQL">
      <div class="mb-4">
        <input class="form-control form-control-lg" type="text" id="item_name" name="item_name" placeholder="Quest Item">
      </div>
      <div class="form-group row">
        <select id="ddlCategory" name="ddlCategory" class="custom-select">
          <% if(locals.eqlcategories) { %>
            <% eqlcategories.forEach(function(item) { %>
              <option value="<%=item.category_id%>"><%=item.category_name%></option>
            <% }); %>
          <% } %>
        </select>
      </div>
      <button name="btnAddItem" id="btnAddItem" type="submit" class="btn btn-md btn-warning">Add Quest Item</button>
    </form>
  </div>
</div>
<div class="row" style="padding-top:35px">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title mb-4">My Quest List</h2>
        <div class="table-responsive">
          <table class="table table-nowrap table-centered mb-0">
            <tbody>
              <%if(locals.eqlitems) { %>
                <% let prevCat;%>
                <% for(var key in eqlitems) { %>
                  <% if(prevCat != eqlitems[key].category_id) { %>
                    <tr><td><h4 class="card-title mb-4"><%=eqlitems[key].category_name%></h4></td></tr>
                  <% } %>
                  <tr>
                    <td style="width: 60px;">
                      <% if(eqlitems[key].completed == 1) { %>
                        <input type="checkbox" id="eqlComplete<%=eqlitems[key].item_id%>" style="display:none" checked>
                      <% } else { %>
                        <input type="checkbox" id="eqlComplete<%=eqlitems[key].item_id%>" style="display:none">
                      <% } %>
                    </td>
                    <td>
                      <h5 class="text-truncate font-size-14 m-0" id="eqlName<%=eqlitems[key].item_id%>"><%=eqlitems[key].item_name%></h5>
                      <input type="text" id="eqlTxtName<%=eqlitems[key].item_id%>" value="<%=eqlitems[key].item_name%>" style="display:none">
                    </td>
                    <td>
                      <% if(eqlitems[key].completed == 1) { %>
                        <div class="text-center">
                          <span class="badge badge-pill badge-soft-success font-size-11">Completed</span>
                        </div>
                      <% } %>
                    </td>
                    <td style="cursor:pointer">
                      <i class="fas fa-save" style="padding-right:5px;display:none;" data-id="<%=eqlitems[key].item_id%>" id="saveItem"></i>
                      <i class="fas fa-edit" style="padding-right:5px" data-id="<%=eqlitems[key].item_id%>" id="editItem"></i>
                      <i class="fas fa-times" data-id="<%=eqlitems[key].item_id%>" id="deleteItem"></i>
                    </td>
                  </tr>
                  <% prevCat = eqlitems[key].category_id %>
                <% } %>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<%- contentFor('FooterJs') %>
<script src="public/assets/libs/apexcharts/apexcharts.min.js"></script>
<script src="public/assets/js/pages/dashboard.init.js"></script>
<script type="text/javascript" src="public/assets/js/eqlItems.js"></script>
<%- contentFor('BottomJs') %>