<%- contentFor('HeaderCss') %>

<%- contentFor('breadcrumb') %>

<%- contentFor('body') %>
<div class="row">
  <div class="col-lg-4">
    <form method="post" action="addEQLCategory">
      <div class="mb-4">
        <input class="form-control form-control-lg" type="text" id="category_name" name="category_name" placeholder="Category Name">
      </div>
      <button name="btnAddCategory" id="btnAddCategory" type="submit" class="btn btn-md btn-warning">Add Category</button>
    </form>
  </div>
</div>
<div class="row" style="padding-top:35px">
  <div class="col-lg-12">
    <strong>Categories</strong>
    <table class="table table-striped" id="tblCategories">
      <thead><tr><th>Category Name</th></tr></thead>
      <tbody>
          <%if(locals.eqlcategories) { %>
              <%for(var key in eqlcategories) { %>
                  <tr>
                      <td>
                          <span id="spnCategoryName<%=eqlcategories[key].category_id%>"><%=eqlcategories[key].category_name%></span><input type="text" id="category_name<%=eqlcategories[key].category_name%>" value="<%=eqlcategories[key].category_name%>" style="display:none">
                      </td>                                                                                                                                   
                      <td>
                          <span class="glyphicon glyphicon-edit" data-id="<%=eqlcategories[key].category_id%>" id="editCategory" style="cursor:pointer"></span>
                          <span class="glyphicon glyphicon-remove" data-id="<%=eqlcategories[key].category_id%>" id="deleteCategory" style="cursor:pointer"></span>
                          <button name="submit" id="btnUpdateCategory" type="submit" data-id="<%=eqlcategories[key].category_id%>" class="btn btn-md btn-black" style="display:none">Update</button>
                      </td>
                  </tr>
              <% } %>
          <% } %>
      </tbody>
    </table>
  </div>
</div>

<%- contentFor('FooterJs') %>
<script src="public/assets/libs/apexcharts/apexcharts.min.js"></script>
<script src="public/assets/js/pages/dashboard.init.js"></script>

<%- contentFor('BottomJs') %>