<%- contentFor('HeaderCss') %>

<%- contentFor('breadcrumb') %>
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">Shops</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Ecommerce</a></li>
                    <li class="breadcrumb-item active">Shops</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<%- contentFor('body') %>
<div class="row">
    <div class="col-xl-4 col-sm-6">
        <div class="card">
            <div class="row">
                <div class="col-xl-5">
                    <div class="text-center p-4 border-right">
                        <div class="avatar-sm mx-auto mb-4">
                            <span class="avatar-title rounded-circle bg-soft-primary text-primary font-size-16">
                                B
                            </span>
                        </div>
                        <h5 class="text-truncate">Brendle's</h5>
                    </div>
                </div>

                <div class="col-xl-7">
                    <div class="p-4 text-center text-xl-left">
                        <div class="row">
                            <div class="col-sm-6">
                                <div>
                                    <p class="text-muted mb-2 text-truncate">Products</p>
                                    <h5>112</h5>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div>
                                    <p class="text-muted mb-2 text-truncate">Wallet Balance</p>
                                    <h5>$13,575</h5>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4">
                            <a href="#">See profile</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-sm-6">
        <div class="card">
            <div class="row">
                <div class="col-xl-5">
                    <div class="text-center p-4 border-right">
                        <div class="avatar-sm mx-auto mb-4">
                            <span class="avatar-title rounded-circle bg-soft-warning text-warning font-size-16">
                                T
                            </span>
                        </div>
                        <h5 class="text-truncate">Tech Hifi</h5>
                    </div>
                </div>

                <div class="col-xl-7">
                    <div class="p-4 text-center text-xl-left">
                        <div class="row">
                            <div class="col-sm-6">
                                <div>
                                    <p class="text-muted mb-2 text-truncate">Products</p>
                                    <h5>104</h5>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div>
                                    <p class="text-muted mb-2 text-truncate">Wallet Balance</p>
                                    <h5>$11,145</h5>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4">
                            <a href="#">See profile</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-sm-6">
        <div class="card">
            <div class="row">
                <div class="col-xl-5">
                    <div class="text-center p-4 border-right">
                        <div class="avatar-sm mx-auto mb-4">
                            <span class="avatar-title rounded-circle bg-soft-danger text-danger font-size-16">
                                L
                            </span>
                        </div>
                        <h5 class="text-truncate">Lafayette</h5>
                    </div>
                </div>

                <div class="col-xl-7">
                    <div class="p-4 text-center text-xl-left">
                        <div class="row">
                            <div class="col-sm-6">
                                <div>
                                    <p class="text-muted mb-2 text-truncate">Products</p>
                                    <h5>126</h5>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div>
                                    <p class="text-muted mb-2 text-truncate">Wallet Balance</p>
                                    <h5>$12,356</h5>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4">
                            <a href="#">See profile</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-sm-6">
        <div class="card">
            <div class="row">
                <div class="col-xl-5">
                    <div class="text-center p-4 border-right">
                        <div class="avatar-sm mx-auto mb-4">
                            <span class="avatar-title rounded-circle bg-soft-success text-success font-size-16">
                                P
                            </span>
                        </div>
                        <h5 class="text-truncate">Packer</h5>
                    </div>
                </div>

                <div class="col-xl-7">
                    <div class="p-4 text-center text-xl-left">
                        <div class="row">
                            <div class="col-sm-6">
                                <div>
                                    <p class="text-muted mb-2 text-truncate">Products</p>
                                    <h5>102</h5>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div>
                                    <p class="text-muted mb-2 text-truncate">Wallet Balance</p>
                                    <h5>$11,228</h5>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4">
                            <a href="#">See profile</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-sm-6">
        <div class="card">
            <div class="row">
                <div class="col-xl-5">
                    <div class="text-center p-4 border-right">
                        <div class="avatar-sm mx-auto mb-4">
                            <span class="avatar-title rounded-circle bg-soft-info text-info font-size-16">
                                N
                            </span>
                        </div>
                        <h5 class="text-truncate">Nedick's</h5>
                    </div>
                </div>

                <div class="col-xl-7">
                    <div class="p-4 text-center text-xl-left">
                        <div class="row">
                            <div class="col-sm-6">
                                <div>
                                    <p class="text-muted mb-2 text-truncate">Products</p>
                                    <h5>96</h5>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div>
                                    <p class="text-muted mb-2 text-truncate">Wallet Balance</p>
                                    <h5>$9,235</h5>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4">
                            <a href="#">See profile</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-sm-6">
        <div class="card">
            <div class="row">
                <div class="col-xl-5">
                    <div class="text-center p-4 border-right">
                        <div class="avatar-sm mx-auto mb-4">
                            <span class="avatar-title rounded-circle bg-soft-dark text-dark text-light font-size-16">
                                H
                            </span>
                        </div>
                        <h5 class="text-truncate">Hudson's</h5>
                    </div>
                </div>

                <div class="col-xl-7">
                    <div class="p-4 text-center text-xl-left">
                        <div class="row">
                            <div class="col-sm-6">
                                <div>
                                    <p class="text-muted mb-2 text-truncate">Products</p>
                                    <h5>120</h5>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div>
                                    <p class="text-muted mb-2 text-truncate">Wallet Balance</p>
                                    <h5>$14,794</h5>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4">
                            <a href="#">See profile</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="col-xl-4 col-sm-6">
        <div class="card">
            <div class="row">
                <div class="col-xl-5">
                    <div class="text-center p-4 border-right">
                        <div class="avatar-sm mx-auto mb-4">
                            <span class="avatar-title rounded-circle bg-soft-dark text-dark text-light font-size-16">
                                T
                            </span>
                        </div>
                        <h5 class="text-truncate">Tech Hifi</h5>
                    </div>
                </div>

                <div class="col-xl-7">
                    <div class="p-4 text-center text-xl-left">
                        <div class="row">
                            <div class="col-sm-6">
                                <div>
                                    <p class="text-muted mb-2 text-truncate">Products</p>
                                    <h5>104</h5>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div>
                                    <p class="text-muted mb-2 text-truncate">Wallet Balance</p>
                                    <h5>$11,145</h5>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4">
                            <a href="#">See profile</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-sm-6">
        <div class="card">
            <div class="row">
                <div class="col-xl-5">
                    <div class="text-center p-4 border-right">
                        <div class="avatar-sm mx-auto mb-4">
                            <span class="avatar-title rounded-circle bg-soft-primary text-primary font-size-16">
                                B
                            </span>
                        </div>
                        <h5 class="text-truncate">Brendle's</h5>
                    </div>
                </div>

                <div class="col-xl-7">
                    <div class="p-4 text-center text-xl-left">
                        <div class="row">
                            <div class="col-sm-6">
                                <div>
                                    <p class="text-muted mb-2 text-truncate">Products</p>
                                    <h5>112</h5>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div>
                                    <p class="text-muted mb-2 text-truncate">Wallet Balance</p>
                                    <h5>$13,575</h5>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4">
                            <a href="#">See profile</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-sm-6">
        <div class="card">
            <div class="row">
                <div class="col-xl-5">
                    <div class="text-center p-4 border-right">
                        <div class="avatar-sm mx-auto mb-4">
                            <span class="avatar-title rounded-circle bg-soft-success text-success font-size-16">
                                L
                            </span>
                        </div>
                        <h5 class="text-truncate">Lafayette</h5>
                    </div>
                </div>

                <div class="col-xl-7">
                    <div class="p-4 text-center text-xl-left">
                        <div class="row">
                            <div class="col-sm-6">
                                <div>
                                    <p class="text-muted mb-2 text-truncate">Products</p>
                                    <h5>126</h5>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div>
                                    <p class="text-muted mb-2 text-truncate">Wallet Balance</p>
                                    <h5>$12,356</h5>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4">
                            <a href="#">See profile</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--  end row -->

<div class="row">
    <div class="col-12">
        <div class="text-center my-3">
            <a href="javascript:void(0);" class="text-success"><i
                    class="bx bx-loader bx-spin font-size-18 align-middle mr-2"></i> Load more </a>
        </div>
    </div> <!-- end col-->
</div>
<!-- end row -->
</div> <!-- container-fluid -->
</div>
<!-- End Page-content -->

<%- contentFor('FooterJs') %>

<%- contentFor('BottomJs') %>