 <!-- Blog start -->
        <section class="section bg-white" id="news">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center mb-5">
                            <div class="small-title">Blog</div>
                            <h4>Latest News</h4>
                        </div>
                    </div>
                </div>
                <!-- end row -->

                <div class="row">
                    <div class="col-xl-4 col-sm-6">
                        <div class="blog-box mb-4 mb-xl-0">
                            <div class="position-relative">
                                <img src="public/assets/images/crypto/blog/img-1.jpg" alt="" class="rounded img-fluid mx-auto d-block">
                                <div class="badge badge-success blog-badge font-size-11">Cryptocurrency</div>
                            </div>

                            <div class="mt-4 text-muted">
                                <p class="mb-2"><i class="bx bx-calendar mr-1"></i> 04 Mar, 2020</p>
                                <h5 class="mb-3">Donec pede justo, fringilla vele</h5>
                                <p>If several languages coalesce, the grammar of the resulting language</p>
    
                                <div>
                                    <a href="#">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-sm-6">
                        <div class="blog-box mb-4 mb-xl-0">

                            <div class="position-relative">
                                <img src="public/assets/images/crypto/blog/img-2.jpg" alt="" class="rounded img-fluid mx-auto d-block">
                                <div class="badge badge-success blog-badge font-size-11">Cryptocurrency</div>
                            </div>

                            <div class="mt-4 text-muted">
                                <p class="mb-2"><i class="bx bx-calendar mr-1"></i> 12 Feb, 2020</p>
                                <h5 class="mb-3">Aenean ut eros et nisl</h5>
                                <p>Everyone realizes why a new common language would be desirable</p>

                                <div>
                                    <a href="#">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-sm-6">
                        <div class="blog-box mb-4 mb-xl-0">
                            <div class="position-relative">
                                <img src="public/assets/images/crypto/blog/img-3.jpg" alt="" class="rounded img-fluid mx-auto d-block">
                                <div class="badge badge-success blog-badge font-size-11">Cryptocurrency</div>
                            </div>

                            <div class="mt-4 text-muted">
                                <p class="mb-2"><i class="bx bx-calendar mr-1"></i> 06 Jan, 2020</p>
                                <h5 class="mb-3">In turpis, pellentesque posuere</h5>
                                <p>To an English person, it will seem like simplified English, as a skeptical Cambridge</p>

                                <div>
                                    <a href="#">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </section>
        <!-- Blog end -->