<%- contentFor('HeaderCss') %>
<%- contentFor('breadcrumb') %>
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">Projects List</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Projects</a></li>
                    <li class="breadcrumb-item active">Projects List</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->
<%- contentFor('body') %>
<div class="row">
    <div class="col-lg-12">
        <div class="">
            <div class="table-responsive">
                <table class="table project-list-table table-nowrap table-centered table-borderless">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 100px">#</th>
                            <th scope="col">Projects</th>
                            <th scope="col">Due Date</th>
                            <th scope="col">Status</th>
                            <th scope="col">Team</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img src="public/assets/images/companies/img-1.png" alt="" class="avatar-sm"></td>
                            <td>
                                <h5 class="text-truncate font-size-14"><a href="#" class="text-dark">New admin
                                        Design</a></h5>
                                <p class="text-muted mb-0">It will be as simple as Occidental</p>
                            </td>
                            <td>15 Oct, 19</td>
                            <td><span class="badge badge-primary">Completed</span></td>
                            <td>
                                <div class="team">
                                    <a href="javascript: void(0);" class="team-member d-inline-block"
                                        data-toggle="tooltip" data-placement="top" title=""
                                        data-original-title="Daniel Canales">
                                        <img src="public/assets/images/users/avatar-2.jpg"
                                            class="rounded-circle avatar-xs m-1" alt="">
                                    </a>

                                    <a href="javascript: void(0);" class="team-member d-inline-block"
                                        data-toggle="tooltip" data-placement="top" title=""
                                        data-original-title="Jennifer Walker">
                                        <img src="public/assets/images/users/avatar-1.jpg"
                                            class="rounded-circle avatar-xs m-1" alt="">
                                    </a>

                                </div>
                            </td>
                            <td>
                                <div class="dropdown">
                                    <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class="mdi mdi-dots-horizontal font-size-18"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="public/assets/images/companies/img-2.png" alt="" class="avatar-sm"></td>
                            <td>
                                <h5 class="text-truncate font-size-14"><a href="#" class="text-dark">Brand logo
                                        design</a></h5>
                                <p class="text-muted mb-0">To achieve it would be necessary</p>
                            </td>
                            <td>22 Oct, 19</td>
                            <td><span class="badge badge-warning">Pending</span></td>
                            <td>
                                <div class="team">
                                    <a href="javascript: void(0);" class="team-member d-inline-block"
                                        data-toggle="tooltip" data-placement="top" title=""
                                        data-original-title="Kenneth Johnson">
                                        <img src="public/assets/images/users/avatar-3.jpg"
                                            class="rounded-circle avatar-xs m-1" alt="">
                                    </a>

                                </div>
                            </td>
                            <td>
                                <div class="dropdown">
                                    <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class="mdi mdi-dots-horizontal font-size-18"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="public/assets/images/companies/img-3.png" alt="" class="avatar-sm"></td>
                            <td>
                                <h5 class="text-truncate font-size-14"><a href="#" class="text-dark">New Landing
                                        Design</a></h5>
                                <p class="text-muted mb-0">For science, music, sport, etc</p>
                            </td>
                            <td>13 Oct, 19</td>
                            <td><span class="badge badge-danger">Delay</span></td>
                            <td>
                                <div class="team">
                                    <a href="javascript: void(0);" class="team-member d-inline-block"
                                        data-toggle="tooltip" data-placement="top" title=""
                                        data-original-title="Natalie Salerno">
                                        <img src="public/assets/images/users/avatar-5.jpg"
                                            class="rounded-circle avatar-xs m-1" alt="">
                                    </a>
                                    <a href="javascript: void(0);" class="team-member d-inline-block"
                                        data-toggle="tooltip" data-placement="top" title=""
                                        data-original-title="Andy Miller">
                                        <div class="avatar-xs m-1">
                                            <span
                                                class="avatar-title rounded-circle bg-soft-primary text-primary font-size-16">
                                                A
                                            </span>
                                        </div>
                                    </a>

                                    <a href="javascript: void(0);" class="team-member d-inline-block"
                                        data-toggle="tooltip" data-placement="top" title=""
                                        data-original-title="Helen Chaffin">
                                        <img src="public/assets/images/users/avatar-4.jpg"
                                            class="rounded-circle avatar-xs m-1" alt="">
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class="dropdown">
                                    <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class="mdi mdi-dots-horizontal font-size-18"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td><img src="public/assets/images/companies/img-4.png" alt="" class="avatar-sm"></td>
                            <td>
                                <h5 class="text-truncate font-size-14"><a href="#" class="text-dark">Redesign - Landing
                                        page</a></h5>
                                <p class="text-muted mb-0">If several languages coalesce</p>
                            </td>
                            <td>14 Oct, 19</td>
                            <td><span class="badge badge-primary">Completed</span></td>
                            <td>
                                <div class="team">
                                    <a href="javascript: void(0);" class="team-member d-inline-block"
                                        data-toggle="tooltip" data-placement="top" title=""
                                        data-original-title="Paul Miller">
                                        <img src="public/assets/images/users/avatar-6.jpg"
                                            class="rounded-circle avatar-xs m-1" alt="">
                                    </a>

                                    <a href="javascript: void(0);" class="team-member d-inline-block"
                                        data-toggle="tooltip" data-placement="top" title=""
                                        data-original-title="David Conyers">
                                        <div class="avatar-xs m-1">
                                            <span
                                                class="avatar-title rounded-circle bg-soft-success text-success font-size-16">
                                                D
                                            </span>
                                        </div>
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class="dropdown">
                                    <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class="mdi mdi-dots-horizontal font-size-18"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="public/assets/images/companies/img-5.png" alt="" class="avatar-sm"></td>
                            <td>
                                <h5 class="text-truncate font-size-14"><a href="#" class="text-dark">Skote Dashboard
                                        UI</a></h5>
                                <p class="text-muted mb-0">Separate existence is a myth</p>
                            </td>
                            <td>22 Oct, 19</td>
                            <td><span class="badge badge-primary">Completed</span></td>
                            <td>
                                <div class="team">
                                    <a href="javascript: void(0);" class="team-member d-inline-block"
                                        data-toggle="tooltip" data-placement="top" title=""
                                        data-original-title="Steven Jenkins">
                                        <img src="public/assets/images/users/avatar-7.jpg"
                                            class="rounded-circle avatar-xs m-1" alt="">
                                    </a>
                                    <a href="javascript: void(0);" class="team-member d-inline-block"
                                        data-toggle="tooltip" data-placement="top" title=""
                                        data-original-title="Ruby Clinton">
                                        <img src="public/assets/images/users/avatar-8.jpg"
                                            class="rounded-circle avatar-xs m-1" alt="">
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class="dropdown">
                                    <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class="mdi mdi-dots-horizontal font-size-18"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="public/assets/images/companies/img-6.png" alt="" class="avatar-sm"></td>
                            <td>
                                <h5 class="text-truncate font-size-14"><a href="#" class="text-dark">Blog Template
                                        UI</a></h5>
                                <p class="text-muted mb-0">For science, music, sport, etc</p>
                            </td>
                            <td>24 Oct, 19</td>
                            <td><span class="badge badge-warning">pending</span></td>
                            <td>
                                <div class="team">
                                    <a href="javascript: void(0);" class="team-member d-inline-block"
                                        data-toggle="tooltip" data-placement="top" title=""
                                        data-original-title="Ken Dorsey">
                                        <div class="avatar-xs m-1">
                                            <span
                                                class="avatar-title rounded-circle bg-soft-danger text-danger font-size-16">
                                                K
                                            </span>
                                        </div>
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class="dropdown">
                                    <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class="mdi mdi-dots-horizontal font-size-18"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td><img src="public/assets/images/companies/img-3.png" alt="" class="avatar-sm"></td>
                            <td>
                                <h5 class="text-truncate font-size-14"><a href="#" class="text-dark">Multipurpose
                                        Landing</a></h5>
                                <p class="text-muted mb-0">It will be as simple as Occidental</p>
                            </td>
                            <td>15 Oct, 19</td>
                            <td><span class="badge badge-danger">Delay</span></td>
                            <td>
                                <div class="team">
                                    <a href="javascript: void(0);" class="team-member d-inline-block"
                                        data-toggle="tooltip" data-placement="top" title=""
                                        data-original-title="Daniel Canales">
                                        <img src="public/assets/images/users/avatar-3.jpg"
                                            class="rounded-circle avatar-xs m-1" alt="">
                                    </a>

                                </div>
                            </td>
                            <td>
                                <div class="dropdown">
                                    <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class="mdi mdi-dots-horizontal font-size-18"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- end row -->

<div class="row">
    <div class="col-12">
        <div class="text-center my-3">
            <a href="javascript:void(0);" class="text-success"><i
                    class="bx bx-loader bx-spin font-size-18 align-middle mr-2"></i> Load more </a>
        </div>
    </div> <!-- end col-->
</div>
<!-- end row -->

</div> <!-- container-fluid -->
</div>
<%- contentFor('FooterJs') %>

<%- contentFor('BottomJs') %>