<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>ICO Landing | Skote - Nodejs Admin & Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="public/assets/images/favicon.ico">

    <!-- owl.carousel css -->
    <link rel="stylesheet" href="public/assets/libs/owl.carousel/assets/owl.carousel.min.css">

    <link rel="stylesheet" href="public/assets/libs/owl.carousel/assets/owl.theme.default.min.css">

    <!-- Bootstrap Css -->
    <link href="public/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="public/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="public/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

</head>

<body data-spy="scroll" data-target="#topnav-menu" data-offset="60">

    <%-  include ('./IcoLanding/nav')  %>

    <%-  include ('./IcoLanding/hero')  %>

    <%-  include ('./IcoLanding/price')  %>

    <%-  include ('./IcoLanding/about')  %>

    <%-  include ('./IcoLanding/feature')  %>

    <%-  include ('./IcoLanding/roadmap')  %>

    <%-  include ('./IcoLanding/team')  %>

    <%-  include ('./IcoLanding/news')  %>

    <%-  include ('./IcoLanding/faqs')  %>

    <%-  include ('./IcoLanding/news')  %>

    <%-  include ('./IcoLanding/footer')  %>


    <!-- JAVASCRIPT -->
    <script src="public/assets/libs/jquery/jquery.min.js"></script>
    <script src="public/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="public/assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="public/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="public/assets/libs/node-waves/waves.min.js"></script>

    <script src="public/assets/libs/jquery.easing/jquery.easing.min.js"></script>

    <!-- Plugins js-->
    <script src="public/assets/libs/jquery-countdown/jquery.countdown.min.js"></script>

    <!-- owl.carousel js -->
    <script src="public/assets/libs/owl.carousel/owl.carousel.min.js"></script>

    <!-- ICO landing init -->
    <script src="public/assets/js/pages/ico-landing.init.js"></script>

    <script src="public/assets/js/app.js"></script>

</body>

</html>